.gallery__card {
  max-width: 540px;
  min-height: 370px;
  background-color:$BLUR;
  padding: 50px 29px 29px 35px; 
  margin-top: 120px;
  &-subtitle {
@include text($H20, 300, $WHITE);
opacity: 0.5;
margin-bottom: 27px;
  }
  &-title {
    @include text($H20, 300, $WHITE);
    text-transform: uppercase;
    opacity: 0.5;
    margin-bottom: 30px;
   
  }
  &-text {
    @include text($H16, 300, $WHITE);
    opacity: 0.5;
    line-height: 1.5;
    margin-bottom: 43px;
  }
}