.gallery {
  display: block;
  &__block-top {
    background-image: url(../assets/images/gallery-top.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 700px;
    display: flex;
    align-items: center;
  }
  &__block-bottom {
    background-image: url(../assets/images/gallery-bottom.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 700px;
    display: flex;
    align-items: center;
   
  }
}
    
  .wrapper-top, .wrapper-bottom  {
    max-width: 1140px;
    width: 100%;
    display: flex;
    align-items: center;
   }
   .wrapper-bottom {
     justify-content: flex-end;
   }

   


