.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  
  &-item {
    border: 1px solid transparent ;
    margin-right: 40px;
    transition: border 0.5s ease;
    &:hover {
      border-bottom: 1px solid $WHITE ;
    }
  }
  &-link {
    @include text($H14, 400, $WHITE);
    text-transform: uppercase;
    font-family: $second-font;
  }
}