@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

@font-face {
  font-family: "Aleo-Regular";
  src: url("../assets/fonts/Aleo-Regular.ttf") format("truetype"), 
    url("../assets/fonts/Aleo-Regular.woff") format("woff"), 
    url("../assets/fonts/Aleo-Regular.woff2") format("woff2"); 
  font-weight: 400;
  font-style: normal;
}

@import './core/vars';
@import './core/mixins';
@import './core/common';

//components 
@import './components/header';
@import './components/header-form';
@import './components/scroll';
@import './components/nav';
@import './components/nav-list';
@import './components/article';
@import './components/article-info';
@import './components/article-img';
@import './components/article-btn';
@import './components/gallery';
@import './components/gallery-card';




